:root{
      --cores-white: #ffffff;

      --cores-gray-200: rgba(119, 119, 114, 0.2);

      --cores-gray-100: #404040;

      --cores-gray-button: rgba(77, 76, 76, 0.5);

      --cores-gray-sublinha: #a6a7a3;
}

body{
    margin: 0;
    background: linear-gradient(270deg, #313131 0%, #111111 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    height: 96vh; 
    width: 64.13vw; 
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    margin-top: 2vh;
    border-radius: 7px;
}

.mobile-move-log{
    display: none;
    height: 8vh;
    width: 100vw;
    background-color: aqua;
}

.match-container{
    display: flex;
    background-color: var(--cores-gray-200);
    height: 40.7vw; 
    width: 33.38vw; 
    flex-direction: column;
    border-radius: 7px;
}

.oponent-bar{
    display: flex;
    background-color: transparent;
    height: 3.66vw; 
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-bottom: var(--cores-gray-sublinha) solid 0.2px;
}

.oponent-avatar{
    display: flex;
    height: 3vw; 
    width: 3vw;
    background-color: var(--cores-gray-100);
    margin-right: 0.7vw;
    margin-left: 0.7vw;
    border-radius: 7px;
}

.oponent-info{
    display: flex;
    flex-direction: column;
    background: transparent;
    height: 3vw;
    width: 12vw;
}

.oponent-nickname{
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background: transparent;

}

#oponent-nickname-p{
    font-size: 1.5vw;
    color: white;
    margin: 0;
}

.oponent-score{
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    background: transparent;
}

#oponent-score-p{
    font-size: 1.4vw;
    color: white;
    margin: 0;
}

.chess-board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    height: 33.38vw;
    width: 100%;
}

.player-bar{
    display: flex;
    background-color: transparent;
    height: 3.66vw; 
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    border-top: var(--cores-gray-sublinha) solid 0.2px;
}

.player-avatar{
    display: flex;
    height: 3vw; 
    width: 3vw;
    background-color: var(--cores-gray-100);
    margin-left: 0.7vw;
    margin-right: 0.7vw;
    border-radius: 7px;
}

.player-info{
    display: flex;
    flex-direction: column;
    background: transparent;
    height: 3vw;
    width: 12vw;
}

.player-nickname{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50%;
    width: 100%;
    background: transparent;
}

#player-nickname-p{
    font-size: 1.5vw;
    color: white;
    margin: 0;
}

.player-score{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50%;
    width: 100%;
    background: transparent;
}

#player-score-p{
    font-size: 1.4vw;
    color: white;
    margin: 0;
}

.moves-log-container{
    display: flex;
    background-color: var(--cores-gray-200);
    height: 40.7vw;
    width: 21.96vw; 
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 7px;
}

.settings-bar{
    display: flex;
    background-color: transparent;
    height: 3.66vw; 
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.moves-log{
    display: flex;
    background-color: var(--cores-gray-100);
    height: 33.38vw;
    width: 100%;
    flex-direction: column;
}

.prev-next-move-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: 3.66vw; 
    width: 100%;
}

.mobile-prev-next-buttons{
    display: none;
    height: 8vh;
    width: 100vw;
    background-color: aqua;

}

.prev-button{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(-1);
    min-height: 20px;
    height: 3vw;
    min-width: 40px;
    width: 7vw; 
    background: var(--cores-gray-button);
    border-radius: 15px;
}

.next-button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    height: 3vw;
    min-width: 40px;
    width: 7vw; 
    background: var(--cores-gray-button);
    border-radius: 15px;
}

.square{
    display: block;
    height: 4.1725vw;
    width: 4.1725vw;
    background-color: transparent;
}

.white-square{
    background-color: rgb(200, 202, 204);
}

.black-square{
    background-color: rgb(41, 41, 41);
}

.settings-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw; 
    width: 3vw;
    margin-right: 0.7vw;
    background: transparent;
    border-radius: 7px;
}

#settings-button{
    width: 3vw;
}

#next-arrow{
    height: 3vw;
    width: 5.25vw;
}

#prev-arrow{
    height: 3vw;
    width: 5.25vw;
}

.pieces{
    display: block;
    height: 4.1725vw;
    width: 4.1725vw;
}

.row{
    display: inline-flex;
}

.mobile-move-log{
    display: none;
}

@media (max-width:600px){
    .container{
        flex-direction: column;
        width: 100vw;
    }
    
    .mobile-move-log{
        display: flex;
    }
    
    .match-container{
        height: 125.5vw;
        width: 100vw;
    }

    .oponent-bar{
        height: 12.5vw;
        width: 100vw;
    }

    .oponent-avatar{
        height: 3vh; 
        width: 3vh;
        margin-right: 0.7vh;
        margin-left: 0.7vh;
    }

    .oponent-info{
        height: 3vh;
        width: 12vh;
    }

    .chess-board{
        height: 100vw;
        width: 100vw;
    }

    .moves-log-container{
        display: none;
    }


    .player-bar{
        height: 12.5vw;
        width: 100vw;
    }

    .player-avatar{
        height: 3vh; 
        width: 3vh;
        margin-right: 0.7vh;
        margin-left: 0.7vh;
    }

    .player-info{
        height: 3vh;
        width: 12vh;
    }

    .mobile-prev-next-buttons{
        display: flex;
    }

    .square{
        height: 12.5vw;
        width: 12.5vw;
    }

}

@media (max-width: 1024px) and (min-width: 601px){
    .container{
        flex-direction: column;
    }

    .match-container{
        height: 40.7vh; 
        width: 33.38vh; 
    }

    .oponent-bar{
        height: 3.66vh; 
    }

    .oponent-avatar{
        height: 3vh; 
        width: 3vh;
        margin-right: 0.7vh;
        margin-left: 0.7vh;
    }

    .oponent-info{
        height: 3vh;
        width: 12vh;
    }

    .chess-board{
        height: 33.38vh;
    }

    .player-bar{
        height: 3.66vh; 
    }

    .player-avatar{
        height: 3vh; 
        width: 3vh;
        margin-right: 0.7vh;
        margin-left: 0.7vh;
    }

    .player-info{
        height: 3vh;
        width: 12vh;
    }

    .square{
        height: 4.1725vh;
        width: 4.1725vh;
    }

    .moves-log-container{
        height: 40.7vh;
        width: 33.38vh; 
    }

    .settings-bar{
        height: 3.66vh; 
    }

    .moves-log{
        height: 33.38vh;
    }

    .prev-next-move-bar{
        height: 3.66vh; 
    }

    .settings-button{
        height: 3vh; 
        width: 3vh;
        margin-right: 0.7vh;
    }

    #settings-button{
        width: 3vh;
    }

    #next-arrow{
    height: 3vh;
    width: 5.25vh;
    }

    #prev-arrow{
        height: 3vh;
        width: 5.25vh;
    }

    #oponent-nickname-p{
        font-size: 1.5vh;
    }

    #oponent-score-p{
        font-size: 1.2vh;
    }

    #player-nickname-p{
        font-size: 1.5vh;
    }

    #player-score-p{
        font-size: 1.2vh;
    }
}
