@media (min-width: 601px) and (max-width: 1024px){
    main.container{
        width: 80vw;
        gap: 5vw;
    }

    #match-container{
        height: 100vw; 
        width: 80vw; 
    }

    #oponent-bar, #player-bar{
        height: 10vw; 
        width: 100%;
    }

    #oponent-avatar, #player-avatar{
        height: 8vw; 
        width: 8vw;
        margin-right: 0.7vh;
        margin-left: 0.7vh;
    }

    #oponent-info, #player-info{
        height: 8vw;
        width: 30vw;
    }

    #chess-board{
        height: 80vw;
        width: 80vw;
    }

    #oponent-nickname-p, #player-nickname-p{
        font-size: 3vh;
    }

    #oponent-score-p, #player-score-p{
        font-size: 2vh;
    }

    /* #square{
        height: 10vw;
        width: 10vw;
    } */
}
