@media (min-width: 601px) and (max-width: 1024px){
    div#moves-log-container{
        height: 23vw;
        width: 80vw; 
    }

    #settings-bar{
        height: 6vw; 
    }

    #moves-log{
        height: 10vw;
    }

    #prev-next-move-bar{
        justify-content: center;
        gap: 3vw;
        height: 6vw; 
    }

    .mobile-settings-button{
        border-radius: 14px;
    }

    .settings-button{
        height: 3.5vh; 
        width: 3.5vh;
        margin-right: 0.7vh;
    }

    #prev-button, #next-button{
        height: 5vw;
        width: 10vw;
    }
}