@media (min-width: 1025px){
    main.container{
        justify-content: space-around;
        flex-direction: row;
        width: 64.13vw; 
    }

    #match-container{
        height: 40.7vw; 
        width: 33.38vw; 
    }

    #oponent-bar, #player-bar{
        height: 3.66vw; 
        width: 100%;
    }

    #oponent-bar{
        justify-content: flex-start;
    }

    #oponent-avatar, #player-avatar{
        height: 3vw; 
        width: 3vw;
        margin-right: 0.7vw;
        margin-left: 0.7vw;
    }

    #oponent-info, #player-info{
        height: 3vw;
        width: 12vw;
    } 

    #oponent-nickname-p, #player-nickname-p{
        font-size: 1.5vw;
    }

    #oponent-score, #player-score{
        align-items: center;
    }

    #oponent-score-p, #player-score-p{
        font-size: 1.4vw;
    }

    #chess-board{
        height: 33.38vw;
        width: 100%;
    }

    /* #square{
        height: 4.1725vw;
        width: 4.1725vw;
    } */
}
