@media (min-width: 1025px){
    .settings-button{
        background: url(../../assets/icons/settings-icon-w.svg) center/cover no-repeat;
        width: 3vw;
    }

    .moves-history{
        flex-wrap: wrap;
        height: 33.38vw;
        overflow-y: auto;
        overflow-x: hidden;
        align-content: flex-start;
        justify-content: flex-start;
        background-color: var(--cores-gray-white);
        width: 100%;
        scroll-behavior: smooth;
        white-space: nowrap;
    }

    .history{
        height: 12.5%;
        width: 20%;
        font-size: 2vh;
    }
}
