.container{
    width: 100vw;
    height: 96vh; 
    margin-top: 2vh;
    border-radius: 7px;
}

#match-container{
    background-color: var(--cores-gray-200);
    border-radius: 7px;
    height: 125.5vw;
    width: 100vw;
}

#oponent-bar, #player-bar{
    justify-content: space-between;
    height: 12.5vw;
    width: 100vw;
    border-bottom: var(--cores-gray-sublinha) solid 1px;
    border-radius: 7px;
}

#player-bar{
    justify-content: flex-end;
}

#oponent-avatar, #player-avatar{
    background: url(../../assets/img/nakamura.png) center/contain no-repeat;
    background-color: var(--cores-gray-100);
    border-radius: 7px;
    height: 5vh; 
    width: 5vh;
    margin-right: 0.7vh;
    margin-left: 0.7vh;
}

#player-avatar{
    background: url(../../assets/img/magnus.png) center/cover no-repeat;
}

#oponent-info, #player-info{
    align-items: flex-start;
    height: 5vh;
    width: 12vh;
}

#player-info{
    align-items: flex-end;
}

#oponent-nickname, #player-nickname{
    height: 50%;
    width: 100%;
}

#player-nickname{
    justify-content: flex-end;
}

#oponent-score, #player-score{
    align-items: flex-start;    
    height: 50%;
    width: 100%;
}

#player-score{
    justify-content: flex-end;
    align-items: flex-end;
}

#chess-board{
    position: relative;
    display: block;
    background: url(../../assets/img/Chess_Board.svg.png) no-repeat center/100%;
    height: 100vw;
    width: 100vw;
    & *{
        position: absolute;
    }
}

#oponent-nickname-p, #player-nickname-p{
    font-size: 3vh;
    color: var(--cores-white);
}

#oponent-score-p, #player-score-p{
    font-size: 2vh;
    color: var(--cores-white);
}

/* #square{
    height: 12.5vw;
    width: 12.5vw;
} */