#game-over-display{
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cores-gray-100);
    z-index: 10;
    border-radius: 10px;
    border: solid 1px var(--cores-gray-200);
}

.game-over-button{
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    background-color: rgb(238, 234, 228);
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    font-size: large;
    &:hover{
        background-color: rgb(187, 185, 183);
    }
}

.game-over-p{
    color: whitesmoke;
    font-size: 1.4rem;
    margin-top: 1rem;
    text-align: center;
}

@media (600px < width <= 1024px) {
    #game-over-display{
        width: 50vh;
        height: 70vh;
    }

    .game-over-button{
        width: 15rem;
        height: 5rem;
        font-size: 3rem;
    }
}

@media (width > 1024px) {
    #game-over-display{
        width: 30vw;
        height: 30vw;
    }
}