*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
      --cores-white: #ffffff;

      --cores-gray-white: #5c5c5c;

      --cores-gray-200: rgba(119, 119, 114, 0.2);

      --cores-gray-100: #404040;

      --cores-gray-button: rgba(77, 76, 76, 0.5);

      --cores-gray-sublinha: #a6a7a36e;
}

body{
    background: linear-gradient(270deg, #313131 0%, #111111 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: inline-flex;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
}

/* ♔♕♖♘♗♙ */