.pieces{
    --pieces-width: 12.5vw;
    display: block;
    height: 12.5vw;
    width: 12.5vw;
    cursor: grab;
    cursor: -webkit-grab;
    overflow: hidden;
    will-change: transform; 
    touch-action: none;
    background-size: 100%;
}

.possibleMove, .possibleCapture{
    display: block;
    height: 12.5vw;
    width: 12.5vw;
    cursor: grab;
    background-size: 100%;
    cursor: -webkit-grab;
    overflow: hidden;
    will-change: transform; 
    touch-action: none;
    z-index: 10;
    border-radius: 50%;
    background-color: rgba(124, 124, 123, 0.562);
    transform: scale(0.4);
}

.possibleCapture{
    background-color: transparent;
    border: solid rgba(223, 49, 26, 0.562) 7px;
    transform: scale(1);
}

@media (min-width: 601px) and (max-width: 1024px){
    .pieces{
        --pieces-width: 10vw;
        height: 10vw;
        width: 10vw;

    }
    .possibleMove, .possibleCapture{
        --pieces-width: 10vw;
        height: 10vw;
        width: 10vw;
    }
}

@media (min-width: 1025px){
    .pieces{
        --pieces-width: 4.1725vw;
        height: 4.1725vw;
        width: 4.1725vw;
    }
    
    .possibleMove, .possibleCapture{
        --pieces-width: 4.1725vw;
        height: 4.1725vw;
        width: 4.1725vw;
    }
}

/* ♖ */
.brq{
    background: no-repeat center/100% url(/assets/pieces/rook-b.svg);
}

.wrq{
    background: no-repeat center/100% url(/assets/pieces/rook-w.svg);
}

.brk{
    background: no-repeat center/100% url(/assets/pieces/rook-b.svg);
}

.wrk{
    background: no-repeat center/100% url(/assets/pieces/rook-w.svg);
}

/* ♘ */
.bnq{
    background: no-repeat center/100% url(/assets/pieces/knight-b.svg);
}

.wnq{
    background: no-repeat center/100% url(/assets/pieces/knight-w.svg);
}

.bnk{
    background: no-repeat center/100% url(/assets/pieces/knight-b.svg);
}

.wnk{
    background: no-repeat center/100% url(/assets/pieces/knight-w.svg);
}

/* ♗ */
.bbq{
    background: no-repeat center/100% url(/assets/pieces/bishop-b.svg);
}

.wbq{
    background: no-repeat center/100% url(/assets/pieces/bishop-w.svg);
}

.bbk{
    background: no-repeat center/100% url(/assets/pieces/bishop-b.svg);
}

.wbk{
    background: no-repeat center/100% url(/assets/pieces/bishop-w.svg);
}

/* ♕ */
.bq{
    background: no-repeat center/100% url(/assets/pieces/queen-b.svg);
}

.wq{
    background: no-repeat center/100% url(/assets/pieces/queen-w.svg);
}

/* ♔ */
.bk{
    background: no-repeat center/100% url(/assets/pieces/king-b.svg);
}

.wk{
    background: no-repeat center/100% url(/assets/pieces/king-w.svg);
}

/* ♙ */
.bp{
    background: no-repeat center/100% url(/assets/pieces/pawn-b.svg);
}

.wp{
    background: no-repeat center/100% url(/assets/pieces/pawn-w.svg);
}

.invisible{
    visibility: hidden;
}

.selected{
    background-color: rgb(175, 206, 248);
}

.moved, .movedPiece{
    background-color: rgba(236, 236, 82, 0.644);
}