.pieces{
    --pieces-width: 12.5vw;
    box-sizing: border-box;
    display: block;
    height: 12.5vw;
    width: 12.5vw;
    cursor: grab;
    cursor: -webkit-grab;
    overflow: hidden;
    will-change: transform; 
    touch-action: none;
    background-size: 100%;
}

.possibleMove, .possibleCapture, .castling{
    display: block;
    height: 12.5vw;
    width: 12.5vw;
    cursor: grab;
    background-size: 100%;
    cursor: -webkit-grab;
    overflow: hidden;
    will-change: transform; 
    touch-action: none;
    z-index: 10;
    border-radius: 50%;
    background-color: rgba(124, 124, 123, 0.562);
    transform: scale(0.4);
}

.possibleCapture, .castling{
    background-color: transparent;
    border: solid rgba(235, 0, 18, 0.7) 7px;
    transform: scale(1);
}

.castling{
    border: solid rgba(18, 126, 18, 0.6) 7px;
}

@media (min-width: 601px) and (max-width: 1024px){
    .pieces, .possibleMove, .possibleCapture, .castling{
        --pieces-width: 10vw;
        height: 10vw;
        width: 10vw;
    }
}

@media (min-width: 1025px){
    .pieces, .possibleMove, .possibleCapture, .castling{
        --pieces-width: 4.1725vw;
        height: 4.1725vw;
        width: 4.1725vw;
    }
}

.invisible{
    opacity: 0;
}

.captured{
    display: none;
    left: -1000;
    top: 0;
}

.pieces.check, .pieces.checkmate {
    position: relative;
}

.pieces:active {
    cursor: grabbing;
}

.pieces.check::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    box-shadow: inset 0 0 15px red;
    pointer-events: none;
    border-radius: 50%;
}

.pieces.checkmate::before {
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    
    clip-path: polygon(0% 20%, 20% 20%, 20% 0%, 40% 0%, 40% 20%, 60% 20%, 60% 0%, 80% 0%, 80% 20%, 100% 20%, 100% 40%, 80% 40%, 80% 60%, 100% 60%, 100% 80%, 80% 80%, 80% 100%, 60% 100%, 60% 80%, 40% 80%, 40% 100%, 20% 100%, 20% 80%, 0% 80%, 0% 60%, 20% 60%, 20% 40%, 0% 40%);
    
    pointer-events: none;
    z-index: 2;
}

ul.promotionList{
    height: calc(var(--pieces-width) * 5);
    background-color: #9b9a9a;
    box-shadow: 2px 2px 5px rgb(54, 54, 54);
}

li.promotionItem{
    position: static !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* ♖ */
.br{
    background: no-repeat center/100% url(/assets/pieces/rook-b.svg);
}

.wr{
    background: no-repeat center/100% url(/assets/pieces/rook-w.svg);
}

/* ♘ */
.bn{
    background: no-repeat center/100% url(/assets/pieces/knight-b.svg);
}

.wn{
    background: no-repeat center/100% url(/assets/pieces/knight-w.svg);
}

/* ♗ */
.bb{
    background: no-repeat center/100% url(/assets/pieces/bishop-b.svg);
}

.wb{
    background: no-repeat center/100% url(/assets/pieces/bishop-w.svg);
}

/* ♕ */
.bq{
    background: no-repeat center/100% url(/assets/pieces/queen-b.svg);
}

.wq{
    background: no-repeat center/100% url(/assets/pieces/queen-w.svg);
}

/* ♔ */
.bk{
    background: no-repeat center/100% url(/assets/pieces/king-b.svg);
}

.wk{
    background: no-repeat center/100% url(/assets/pieces/king-w.svg);
}

/* ♙ */
.bp{
    background: no-repeat center/100% url(/assets/pieces/pawn-b.svg);
}

.wp{
    background: no-repeat center/100% url(/assets/pieces/pawn-w.svg);
}

.highlight{
    background-color: rgb(175, 205, 250);
    border-radius: 0;
    clip-path: none;
    mask: none;
    transform: scale(1.05);
    &.pieces.check::before{
        border: none;
        box-shadow: none;
    }
}

.teste{
    cursor: pointer !important;
}

.moved, .movedPiece{
    background-color: rgba(236, 236, 82, 0.644);
    transform: scale(1.02);
}

.bclose{
    background: url(/assets/icons/close_X_b.svg) center/100% no-repeat;
}

.wclose{
    background: url(/assets/icons/close_X_w.svg) center/100% no-repeat;
}
