.flex{
    display: flex;
}

.grid{
    display: grid;
}

@media (width > 600px){
    .mobile-only{
        display: none;
    }
}

@media (width <= 600px){
    .mobile-not{
        display: none;
    }
}

@media (width <= 600px), (width >= 1025px){
    .tablet-only {
        display: none;
    }
}

@media (600px < width < 1025px){
    .tablet-not {
        display: none;
    }
}

@media (width < 1025px){
    .desktop-only{
        display: none;
    }
}

@media (width >= 1025px){
    .desktop-not{
        display: none;
    }
}

.column{
    flex-direction: column;
}

.content-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.center-center{
    justify-content: center;
    align-items: center;
}

.bg-transparent{
    background: transparent;
}

.black-color{
    color: rgb(0, 0, 0);
}

.white-color{
    color: aliceblue;
}

.black-color:hover{
    background-color: #c9c9c9;
}

.white-color:hover{
    background-color: #2e2e2e;
}

.active-history{
    border: solid 1px rgb(255, 255, 255) !important;
}
